@model gestionsyndic.web.Models.Paiement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCoproprietaireNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCoproprietaireNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
